<header class="main-header">
    <div class="logo-container">
        <img src="assets/hero-image.png" alt="Bannière" class="hero-image">
        <div class="overlay"></div> <!-- Pour appliquer le flou gris -->
        <div class="logo-content">
            <img src="assets/logo_LyLocBnB-removebg-preview.png" alt="LyLocBnB Logo" class="large-logo">
            <p class="slogan" style="font-family: 'Poppins',serif">Trouvez votre hébergement idéal avec LyLocBnB</p>
        </div>
    </div>
</header>
