.login-container {
  margin: 0;
  height: 100%;
  overflow: hidden;
  width: 100% !important;
  box-sizing: border-box;
}

h2, label, .login, input, .error {
  font-family: "Roboto", sans-serif !important;
}


#slideBox {
  transform: translate(50%);
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}

.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

label {
  font-size: 0.8em;
  text-transform: uppercase;
}

input {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: 8px 1px;
  margin-top: 0.1em;
}

.right {
  width: 50%;
  height: 100%;
  right: 0;
  position: absolute;

  label {
    color: #212121;
  }

  input {
    border-bottom: 1px solid #212121;

    &:focus, &:active {
      border-color: #243348;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset;
      -webkit-text-fill-color: #212121;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;

  h2 {
    font-weight: 300;
    font-size: 2.6em;
    margin: 0.2em 0 0.1em;
  }
}

.right .content h2 {
  color: #243348;
}

.form-element {
  margin: 1.6em 0;

  &.form-submit {
    margin: 1.6em 0 0;
  }
}

.form-stack {
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.8em 1.2em;
  margin: 0 10px 0 0;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.6px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s;

  &.login {
    background: #243348;
  }

  &.off {
    background: none;
    box-shadow: none;
    margin: 0;

    &.login {
      color: #243348;
    }
  }

  &:focus, &:active, &:hover {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  &:focus.login, &:active.login {
    background: #243348;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:hover {
    &.login {
      background: #243348;
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    &::after.login {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active.login, &:focus.login {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &.login {
    text-decoration: none;
    transition: all 0.2s;
  }
}

.login {
  &:link, &:visited {
    text-decoration: none;
    transition: all 0.2s;
  }
}

button {
  &:focus.off, &:active.off, &:hover.off {
    box-shadow: none;
  }

  &:focus.off.login, &:active.off.login, &:hover.off.login {
    color: #243348;
    background: #e3e3e3;
  }
}

@media only screen and (max-width: 768px) {
  #slideBox {
    width: 80%;
    margin-left: 20%;
  }
}
