.p-field {
    margin-bottom: 10px;
  }

  .p-inputtext {
    width: 100%;
  }

  .p-button {
    margin-top: 1rem;
    display: flex;
  justify-content: center;
  background-color: #4dd6e0;
  font-weight: bold;
  border: #4dd6e0;
  }
  .form-container {
    background-color: #f0f0f0; /* Couleur de fond gris */
    border-radius: 10px; /* Bordures arrondies */
    padding: 20px; /* Espacement intérieur */
    // width: 80%; /* Largeur du formulaire (ajustez selon vos besoins) */
    margin: 0 auto; /* Centrage horizontal du formulaire */
  }

  .form-container form {
    /* Redéfinir la largeur à 100% pour remplir le conteneur parent */
    width: 100%;
  }