.wrapper {


  img {
    aspect-ratio: 1;
    border-radius: 15px;
    border: rgb(225, 224, 224) solid 2px;
    width: 344px;
    height: 327px;
  }

  .title {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .price-label {
    font-weight: 300;
    font-size: 1rem;
  }

  .price {
    font-weight: 500;
    font-size: 1rem;
  }
}

.bien-container {
  //background-color: #f0f0f0; /* Couleur de fond gris */
  border-radius: 10px; /* Bordures arrondies */
  cursor: pointer; /* Curseur de la souris en pointeur */
  /* Effet de transition */
  transition: transform 0.3s ease;
  margin-bottom: 5px; /* Espacement entre chaque bien */
}

.bien-container:hover {
  transform: scale(1.05); /* Zoom au survol */
}

$color_1: white;
$background-color_1: #A156E2;
$background-color_2: #C185F5;

.hotel-card {
  width: 100%;
  max-width: 320px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hotel-image {
  aspect-ratio: 1;
  border-radius: 15px;
  width: 344px;
  height: 327px;
}

.hotel-title {
  margin-top: 8px;
  margin-bottom: 8px;
}

.hotel-description {
  margin-top: 0;
  margin-bottom: 8px;
}

.hotel-book {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel-book-link {
  text-decoration: none;
  padding: 3px 12px;
  background-color: $background-color_1;
  color: $color_1;
  border-radius: 4px;

  &:hover {
    background-color: $background-color_2;
  }
}

.hotel-price {
  font-weight: 600;
}
