<div class="property-list-container">
    <div class=" wrap gap-1 space-between" style="display: flex;
    justify-content: space-around;" *ngIf="biens.length;else skeleton">

        <div class="bien-container" *ngFor="let bien of biens" routerLink="/home/properties/{{bien.idBien}}">
            <section class="hotel-card">
                <img class="hotel-image" [src]="bien.image" alt=""/>
                <h2 class="hotel-title">{{ bien.rue }},{{ bien.commune }}</h2>
                <p class="hotel-description">
                    {{ bien.nbChambres }}<span *ngIf="bien.nbChambres===1;else elseBlock"> Chambre</span>
                    <ng-template #elseBlock> Chambres</ng-template>
                </p>
                <div class="hotel-book">
                    <span class="hotel-price">{{ bien.prix | currency:'EUR' }} <span style="font-weight: normal">par nuit</span></span>
                    <p-rating [(ngModel)]="bien.averageAvis" [readonly]="true" [cancel]="false"/>
                </div>
            </section>
        </div>
    </div>
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="rows" [totalRecords]="totalRecords"
                 [rowsPerPageOptions]="rowsPerPage"></p-paginator>
    <ng-template #skeleton>
        <div style="    display: grid;
    grid-template-columns: 1fr 1fr 1fr;justify-items: center">
            <div *ngFor="let item of items" style="margin-top: 40px">
                <ngx-skeleton-loader
                        count="1"
                        animation="progress"
                        [theme]="{
                    height: '344px',
                    width: '327px',
                    'border-radius':'15px'

                }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                        count="1"
                        animation="progress"
                        [theme]="{
                    width: '50%',
                    'display':'block'
                }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                        count="1"
                        animation="progress"
                        [theme]="{
                    width: '20%',
                    'display':'block'
                }"
                ></ngx-skeleton-loader>
                <div>
                    <ngx-skeleton-loader
                            count="1"
                            animation="progress"
                            [theme]="{
                    width: '30%',

                }"
                    ></ngx-skeleton-loader>

                </div>
            </div>
        </div>
    </ng-template>


</div>